@import url(./variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--red);
    background-image: url(../images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textContent {
    width: 45%;
}

.textContent h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2.5rem;
}

.form {
    width: 45%;
    padding: 15px;
}

.form .accent {
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--blue);
    box-shadow: 0 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.form .accent span {
    font-weight: 600;
}

.containerForm {
    height: auto;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 7px 2px rgba(0, 0, 0, 0.2);
}

.containerForm > p {
    color: var(--gravishBlue);
    font-size: 0.7em;
    text-align: center;
    width: 90%;
    padding-bottom: 25px;
    margin: 0 auto;
    
}

.containerForm p span {
    color: var(--red);
    cursor: pointer;
    font-weight: 700;
}

.formInputs{
    display: flex;
    flex-direction: column;
    padding: 35px 35px 0 35px;
}

.formInputs input, .formInputs button {
    width: 100%;
    height: 45px;
    padding-left: 25px ;
    outline: none;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all 500ms ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--darkBlue);
}

.formInputs input:focus {
    border: 1px solid var(--blue);
}

.formInputs input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.formInputs button {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    padding: 0;
    color: white;
    background-color: var(--green);
    text-transform: uppercase;
    box-shadow: 0 3px 1px rgba(21, 160, 79, 0.808);
}

.formControl {
    position: relative;
}

.formControl .error {
    border: 1px solid var(--red);
}

.pError {
    font-style: italic;
    color: var(--red);
    text-align: end;
    margin-bottom: 15px;
    font-size: 0.6em;
    display: none;
    margin-top: -10px;
}

.pError.active {
    display: block;
}

.imgError {
    display: none;
    position: absolute;
    right: 20px;
    top: 10px;
}

.imgError.active {
    display: block;
}

.formInputs button:hover {
    opacity: 0.6;
}

.formControl .passwordLength {
    color: var(--darkBlue);
    display: inline-block;
    font-size: 0.7rem;
    position: absolute;
    bottom: -2px;
    left: 0;
    font-weight: 600;
}

.show {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 50px;
    top: 17px;
}

@media (max-width: 600px) {
    body {
        background-image: url(../images/bg-intro-mobile.png);
    }
    .mainContent {
        flex-direction: column;
        height: auto;
        padding: 50px 0px;
    }
    .textContent {
        width: 100%;
    }

    .textContent h1, .textContent p {
        text-align: center;
    }

    .textContent h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1.6rem;
    }

    .textContent p {
        font-size: 0.7rem;
        margin-bottom: 2.5rem;
    }

    .form .accent p{
        font-size: 0.7rem;
        margin: 0 auto;
        width: 75%;
    }

    .form {
        width: 100%;
        padding: 0;
    }
    
    .form .formInputs {
        padding: 20px 20px 0 20px;
    }

    .formInputs input {
        height: 50px;
    }

    .formInputs button {
        font-weight: 500;
    }

    .imgError {
        top: 13px;
    }
}

@media (min-width: 601px) and (max-width: 840px) {
    .textContent {
        width: 50%;
    }
    .textContent h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .textContent p {
        font-size: 0.8rem;
    }
    .form {
        width: 50%;
        padding: 15px 0 15px 15px;
    }
    
    .containerForm {
        height: auto;
    }

    .form .accent p{
        font-size: 0.7rem;
        margin: 0 auto;
        width: 75%;
    }
    .formInputs input::placeholder {
        font-size: 0.7rem;
    }
    .formInputs {
        padding: 20px 20px 0 20px;
    }
}